<section _ngcontent-obt-c21 style="margin-top: 110px;" id="parceiros">
  <!-- wish -->
  <div id="wish" class="about-box" style="padding-bottom: 0;">
    <div class="about-a1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2 class="container-sm"style="margin-left: 30%;">Best Wishes</h2>
            </div>
          </div>
        </div>
  <div class="about-a1" style="margin-top: 50px;padding-top: 75px;padding-bottom: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row align-items-center about-main-info">
          
                          <div class="col-lg-6 col-md-6 col-sm-12 text-white">
              <h2><img style="width: 60px;" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/b2.jpg?alt=media&token=da33b0ba-bc8e-4ade-9399-9ad48a393c8a" alt="#" /> Jonh Max Wishes</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown..</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
              <a href="#" class="hvr-radial-out button-theme">Read More</a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                <div class="full">
                    <img class="img-responsive container-sm" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" alt="#" />
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row align-items-center about-main-info">
        
        <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
            <div class="full">
                <img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/b2.jpg?alt=media&token=da33b0ba-bc8e-4ade-9399-9ad48a393c8a" alt="#" />
            </div>
        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2><img style="width: 60px;" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/b2.jpg?alt=media&token=da33b0ba-bc8e-4ade-9399-9ad48a393c8a" alt="#" /> Harry Mike Wishes</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown..</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          <a href="#" class="hvr-radial-out button-theme">Read More</a>
        </div>

      </div>
    </div>
  </div>




  <div class="about-a1" style="margin-top: 50px;padding-top: 75px;padding-bottom: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row align-items-center about-main-info">
          
                          <div class="col-lg-6 col-md-6 col-sm-12">
              <h2><img style="width: 60px;" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/b2.jpg?alt=media&token=da33b0ba-bc8e-4ade-9399-9ad48a393c8a" alt="#" /> Jonh Max Wishes</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown..</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
              <a href="#" class="hvr-radial-out button-theme">Read More</a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                <div class="full">
                    <img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/b2.jpg?alt=media&token=da33b0ba-bc8e-4ade-9399-9ad48a393c8a" alt="#" />
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row align-items-center about-main-info">
        
        <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
            <div class="full">
                <img class="img-responsive" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/b2.jpg?alt=media&token=da33b0ba-bc8e-4ade-9399-9ad48a393c8a" alt="#" />
            </div>
        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2><img style="width: 60px;" src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/b2.jpg?alt=media&token=da33b0ba-bc8e-4ade-9399-9ad48a393c8a" alt="#" /> Harry Mike Wishes</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown..</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
          <a href="#" class="hvr-radial-out button-theme">Read More</a>
        </div>

      </div>
    </div>
  </div>

