
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between pa"></nav>
  </div>
  <div class="p-4 mb-3 btn btn-outline-success text-white text-left rounded">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic pa">As provas e as tentações</h1>
      <p class="lead my-3">Meus irmãos, tende grande alegria quando enfrentardes várias tentações; Sabendo que a prova da vossa fé opera a paciêcia. Tenha porém, a paciência a sua obra perfeita, para que sejais perfeitos e completos, sem falar coisa alguma.
        E, se algum de vós tem falta de sabedoria, peça-a a Deus, que a todos dá liberalmente, e o não lança em rosto, e ser-lhe-á dada.</p>
      <p class="lead mb-0"><a href="#vaidade" class="text-white  font-weight-bold"><button class="text-hight btn btn-success my-2 my-sm-0" type="submit"> Continue Lendo...</button></a></p>
    </div>
  </div>
  <div class="card-deck">

         <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">A acepção de pessoas</strong>
          <h3 class="mb-0">Quando o Senhor Jesus passou neste mundo, agiu com perfeição em todos os seus atos.</h3>
          <div class="mb-1 text-white">junho 2020</div>
          <p class="card-text mb-auto text-white">Thiago 2.1-4.</p>
          <a href="#" class="stretched-link">Continue Lendo...</a>
        </div>
        <div class="col-md-1 d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"focusable="true" role="img" aria-label="Placeholder: salmos "><title>Artigos</title></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">A Língua</strong>
          <h3 class="mb-0">Aqueles que ensinam tem uma responsabilide muito grande ...</h3>
          <div class="mb-1  text-white">junho 2020</div>
          <p class="card-text mb-auto text-white">Thiago 3.1</p>
          <a href="#" class="stretched-link"> Continue Lendo...</a>
        </div>
        <div class="col-md-1 d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"focusable="true" role="img" aria-label="Placeholder: salmos "><title>Artigos</title></svg>
        </div>
        <div id="vaidade" class="paa"></div>
      </div>
    </div>
  <main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Só Jesus Cristo salva, liberta e cura.
      </h3>
      
      <div class="blog-post">
        <h2 class="blog-post-title" >As provas e as tentaçoes</h2>
        <p class="blog-post-meta text-white">20/04/2020  <a href="#"> © sejaeterno.com</a></p>

        <p class="lead my-3 text-white">Bem-aventurado  o homem que suporta a tentação; porque,
           quando for provado, receberá a coroa da vida, a qual o Senhor tem prometido aos que o amam.
        <button
        type="button" class="mb-3 btn btn-outline-info text-white"
        [autoClose]="'outside'" ngbPopover="Bem-aventurado o homem que suporta, com perseverança, a provação; porque, depois de ter sido aprovado, receberá a coroa da vida, a qual o SENHOR prometeu aos que o amam. ( VERSÃO : Almeida Revista e atualizada )">
      (Tiago 1.12)
      </button></p>
        <hr>
        <p class="text-white">Os cristãos que suportam as provações são verdadeiramente felizes, pois verão o
           resultado da sua fé alcançando seu principal obejtivo: a salvação da alma. No entanto,
           é fácil se manter fiel quando tudo esta bém, mas são os momentos difíceis que vemos se
           realmente estamos na fé. Por isso, os que desanimam e desistem não poderão receber a coroa da vida,
            preparada para os que venceram a si mesmo nas dificuldades e se mantiveram
            com uma fé viva e inabalável.  <button
            type="button" class="mb-3 btn btn-outline-info text-white"
            [autoClose]="'outside'" ngbPopover=" ¹²Amados, não estranheis o fogo ardente que surge no meio de vós, destinado a provar-vos, como se alguma coisa extraordinária vos estivesse acontecendo; ¹³pelo contrário, alegrai-vos na medida em que sois coparticipantes dos sofrimentos de Cristo, para que também, na revelação de sua glória, vos alegrei exultando. 14 Se, pelo nome de Cristo, sois injuriados, bem-aventurados sois, porque sobre vós repousa o Espírito da glória e de Deus.( VERSÃO : Almeida Revista e atualizada )">
            (1Pe 4.12-14)
          </button></p>
        <blockquote>
          <p class="text-white"> Primeiramente devemos identificar o que são essas provações, pois,
             quando sofremos as consequências de nossas más ações, não estamos sendo provados,
              e sim colhendo o resultado de nossas escolhas.
               As provações são permitidas por Deus para um determinado propósito,
                que não é castigar, mas sim nos beneficiar por meio do desenvolvimento da nossa fé.
                 Elas se caracterizam, principalmente,
                  nas perseguições que sofremos por causa da fé
                  ou por qualquer outra situação injusta que possamos enfrentar.<button
                  type="button" class="mb-3 btn btn-outline-info text-white"
                  [autoClose]="'outside'" ngbPopover=" para que, uma vez confirmado o valor da vossa fé, muito mais preciosa do que o ouro perecível, mesmo apurado por fogo, redunde em louvor, glória e honra na revelação de Jesus Cristo. ( VERSÃO : Almeida Revista e atualizada )">
                  (1Pe 1.7)
                </button></p>
        </blockquote>
        <h2> A Semente da Vaidade</h2>
        <p class="text-white">Ninguém, sendo tentado, diga: de Deus sou tentado;
           porque Deus não pode ser tentado pelo mal, e a ninguém tenta.
           Mas cada um é tentado, quando atraído e enganado
            (seduzido e arrastado) pela sua própria concupiscência (desejo).
            Depois, havendo a concupiscência (desejo) concebido, dá à luz o pecado, e o pecado sendo consumado,
             gera a morte.<button
             type="button" class="mb-3 btn btn-outline-info text-white"
             [autoClose]="'outside'" ngbPopover="Ninguém, sendo tentado, diga: de Deus sou tentado;
             porque Deus não pode ser tentado pelo mal, e a ninguém tenta.
             Mas cada um é tentado, quando atraído e enganado
              (seduzido e arrastado) pela sua própria concupiscência (desejo).
              Depois, havendo a concupiscência (desejo) concebido, dá à luz o pecado, e o pecado sendo consumado,
               gera a morte. ( VERSÃO : Almeida Revista e Corrigida )">
             (Tiago 1.13-15)
           </button></p>
            <p class="text-white"> O <strong>Senhor</strong> pode nos provar para fortalecer a nossa fé,
              mas nunca nos tentar ou estimular ao pecado. Por ter a natureza santa,
              Deus não pode fazer o mal e tão pouco é vulnerável a ele. A tentação vem do diabo,
              inimigo da nossa fé, para nos fazer cair.<button
              type="button" class="mb-3 btn btn-outline-info text-white"
              [autoClose]="'outside'" ngbPopover="Sede sóbrios e vigilantes. O diabo, vosso adversário, anda em derredor, como leão que ruge procurando alguém para devorar. ( VERSÃO : Almeida Revista e atualizada )">
              (1Pe 5.8)
            </button> Contudo, o cristão tem a força divina para resistir
             ao mal e fazer o que é certo,<button
             type="button" class="mb-3 btn btn-outline-info text-white"
             [autoClose]="'outside'" ngbPopover="Não vos sobreveio tentação que não fosse humana; mas Deus é fiel e não permitirá que sejais tentados além das vossas forças; pelo contrário, juntamente com a tentação, vos proverá livramento, de sorte que a possais suportar. ( VERSÃO : Almeida Revista e atualizada )">
             (1Co 10.13)
           </button>
             assim como fez o Senhor Jesus quando foi tentado por Satanás durante os quarenta dias
              em que esteve no deserto.<button
              type="button" class="mb-3 btn btn-outline-info text-white"
              [autoClose]="'outside'" ngbPopover="1A seguir, foi Jesus levado pelo Espírito ao deserto, para ser tentado pelo diabo. 2E, depois de jejuar quarenta dias e quarenta noites, teve fome. 3Então, o tentador, aproximando-se, lhe disse: Se és Filho de Deus, manda que estas pedras se transformem em pães. 4Jesus, porém, respondeu: Está escrito:
              Não só de pão viverá o homem, mas de toda palavra que procede da boca de Deus.
              5Então, o diabo o levou à Cidade Santa, colocou-o sobre o pináculo do templo 6e lhe disse: Se és Filho de Deus, atira-te abaixo, porque está escrito:
              Aos seus anjos ordenará a teu respeito que te guardem;
              e:
              Eles te susterão nas suas mãos, para não tropeçares nalguma pedra.
              7Respondeu-lhe Jesus: Também está escrito:
              Não tentarás o Senhor, teu Deus.
              8Levou-o ainda o diabo a um monte muito alto, mostrou-lhe todos os reinos do mundo e a glória deles 9e lhe disse: Tudo isto te darei se, prostrado, me adorares. 10Então, Jesus lhe ordenou: Retira-te, Satanás, porque está escrito:
              Ao Senhor, teu Deus, adorarás, e só a ele darás culto.
              11Com isto, o deixou o diabo, e eis que vieram anjos e o serviram. ( VERSÃO : Almeida Revista e atualizada )">
              (Mt 4.1-11)
            </button></p>
        <h3> Tentado pela propria concupiscência</h3>
        <p class="text-white">Tentação é a atração por algo condenável, uma motivação interna que incita para o mal.
           Normalmente, a pessoa é tentada pela própria cobiça, pelos desejos e pelas inclinações do seu coração.
            Satanás não faz o homem pecar, pois ele não tem esse poder. Entretanto,
             ele lança a semente de acordo com a inclinação que vê em cada pessoa.
             As armadilhas do diabo visam atrair. Aquilo que a atrai será usado pelo diabo
       como isca para fazê-la cair em tentação. Quando Satanás investe contra uma pessoa para derrubá-la da fé,
       ele trabalha com muita sutileza, pois assim ela não enxergará as consequências que
       virão pelo pecado e atingirão tanto sua vida física quanto a espiritual. Mas o pecado só se
     caracteriza se a pessoa ceder à tentação,  e isso ocorre de acordo o caráter e com a vontade de cada um.
        A fonte da tentação está na própria natureza humana; por isso, ninguém está livre do risco de cair na fé,
         pois todos sofrem algum tipo de sugestão diabólica.
         Seja homem, mulher, pobre, rico, altamente instruído, analfabeto, jovem, idoso etc.
          Qualquer pessoa que não estiver, constantemente, vigiando a si mesma será induzida
          pela própria carne a transgredir a palavra de Deus na área da vida em que é mais vulnerável.
          Diante disso, a responsabilidade de resistir e controlar os impulsos é da própria pessoa.</p>
        <h3>Renunciando o desejo da carne</h3>
        <p class="text-white">Aqueles que são permissivos e condescendentes quanto aos próprios desejos
          buscam agradar ao seu ego. O problema é que o ego quer sempre mais, até chegar o momento
          em que o pecado prevalece e faz a pessoa ficar completamente afastada de Deus. Então,
          se há algo que deve fazer parte da vida cristã é a renúncia constante do “eu”, porque pensamentos,
           desejos e inclinações, mesmo que aparentemente pequenos e inofensivos, se forem alimentados,
           certamente provocarão a queda espiritual amanhã.
            Podemos dizer que a concupiscência, ou seja, o desejo carnal é a “mãe” de todas as iniquidades,
             pois é ela que faz  o ser humano engravidar do pecado. E uma vez que o pecado se
              instala e se desenvolve na vida de uma pessoa, possui sua mente, seu coração e seu corpo,
               provocando a sua morte espiritual.</p>
        <p class="text-white"> Um pensamento errado dá à luz o pecado quando atendemos ao que ele diz.
           Uma vez consumado, o pecado gera a morte espíritual, porque afasta a pessoa da presença de Deus.
            ademais, causa dúvidas que, como consequência, engessa a fé, e sem fé é impossível agradar a Deus.<button
             type="button" class="mb-3 btn btn-outline-info text-white"
             [autoClose]="'outside'" ngbPopover="De fato, sem fé é impossível agradar a Deus, porquanto é necessário que aquele que se aproxima de Deus creia que ele existe e que se torna galardoador dos que o buscam. ( VERSÃO : Almeida Revista e atualizada )">
             (Hb 11.6)
           </button> Primeiramente, o diabo desperta o interesse da pessoa pelo pecado e depois a convence
            a cometê-lo, afim de destrui-lá por completo. Tudo isso porque Satanás tem prazer na
             morte espíritual do pecador, ao contrário do Senhor Eterno.<button
             type="button" class="mb-3 btn btn-outline-info text-white"
             [autoClose]="'outside'" ngbPopover="Acaso, tenho eu prazer na morte do perverso? — diz o Senhor Deus; não desejo eu, antes, que ele se converta dos seus caminhos e viva? ( VERSÃO : Almeida Revista e atualizada )">
             (Ez 18.23)
           </button> conheça 3 únicas formas de impedir que isso aconteça.  </p>
        <ul class="text-white">
          <li>Reconhecer o próprio erro</li>
          <li>Arrepender-se com sinceridade</li>
          <li>Confessar com humildade diante do Altíssimo</li>
        </ul>
        <p class="text-white">Ele é misericordioso e está pronto para perdoar todos aqueles que
           buscam o seu perdão.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Alegria nas tentações</h2>
        <p class="blog-post-meta text-white">21/06/2020  <a href="#">  © sejaeterno.com</a></p>
        <h4> <p class="text-white"> Meus irmãos, tende grande alegria quando enfrentardes várias tentações</p></h4>
        <p class="text-white"> Essas tentações se referem as perseguições e às provações por causa do Evangelho.
           Ou seja, são aquelas situações muito difíceis que testam a fé do cristão, sua capacidade de superação,
            seus preceitos morais e suas convicções.</p>
        <blockquote>
          <p class="text-white"> Tiago pede para consederarmos as <strong>provas</strong>
             como motivo de alegria por causa dos benefícios que essas experiências nos trazem,
              como formação do caráter, maturidade espíritual e perseverança da fé.</p>
        </blockquote>
        <p class="text-white"> Esse gozo profundo só é possível por meio de um relacionamento com Deus,
           que nos dará a força necessária para ultrapassar as adversidades.</p>
        <p class="text-white">Contudo, se não enfrentarmos as nossas dificuldades
           com a consciência de que vamos extrair valiosos aprendizados,
           elas se tornarão um fardo pesado e difícil de aguentar.<button
            type="button" class="mb-3 btn btn-outline-info text-white"
            [autoClose]="'outside'" ngbPopover="Meus irmãos, tende por motivo de toda alegria o passardes por várias provações, ( VERSÃO : Almeida Revista e atualizada )">
            (Tiago 1.2)
          </button></p>
        <p><a href="" class="text-white font-weight-bold"><button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Continue Lendo...</button></a></p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Resistir às Paixões</h2>
        <p class="blog-post-meta text-white">21/06/2020  <a href="#">  © sejaeterno.com</a></p>

        <h3><p class="text-white"> De onde vêm as guerras e pelejas entre vós? Porventura não vêm disto, a saber,
           dos vossos deleites, que nos vossos membros guerreiam?</p></h3>
        <br>
        <h5 class="text-white">guerras e pelejas entre vós.</h5>
        <br>
        <p class="text-white">Os principais problemas e conflitos entre os cristãos deviram da inveja
           e dos seus desejos egoístas em serem honrados, elogiados e reconhecidos.
           Eles consideravam essas ambições pessoais seus objetivos de vida, portanto,
            mais importante do que agradar a Deuse fazer a vontade DELE.</p>
        <p class="text-white"> pessoas que agem dessa maneira mostram que nao tem espiritualidade
          e muito menos o Espírito Santo.<button
            type="button" class="mb-3 btn btn-outline-info text-white"
            [autoClose]="'outside'" ngbPopover=" 'GÁLATAS 5.25-26 ... Se vivemos no Espírito, andemos também no Espírito. 26Não nos deixemos possuir de vanglória, provocando uns aos outros, tendo inveja uns dos outros.'
            '1PEDRO 2.1... Despojando-vos, portanto, de toda maldade e dolo, de hipocrisias e invejas e de toda sorte de maledicências' ( VERSÃO : Almeida Revista e atualizada )">
            (Gl5.25-26;1Pe2.1)
          </button> veja alguns exemplos abaixo. </p>
        <ul class="text-white">
          <li>Cobiça.</li>
          <li>Inveja.</li>
          <li>Soberba.</li>
        </ul>
        <p class="text-white">A Cobiça consiste basicamente em desejar algo que pertence à outra pessoa.
          Foi isso que levou Lúcifer à queda, pois, ao desejar ser semelhante ao Altissímo,
          causou uma grande rebelião no céu, e assim foi expulso.<button
            type="button" class="mb-3 btn btn-outline-info text-white"
            [autoClose]="'outside'" ngbPopover="12Como caíste do céu, ó estrela da manhã, filho da alva! Como foste lançado por terra, tu que debilitavas as nações! 13Tu dizias no teu coração: Eu subirei ao céu; acima das estrelas de Deus exaltarei o meu trono e no monte da congregação me assentarei, nas extremidades do Norte; 14subirei acima das mais altas nuvens e serei semelhante ao Altíssimo. ( VERSÃO : Almeida Revista e atualizada )">
            (Is14.12-14)
          </button> De anjo de luz, se tornou o príncipe das trevas.</p>
        <p><a href="" class="text-white font-weight-bold"><button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Continue Lendo...</button></a></p>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 btn btn-outline-info text-white rounded">
        <h4 class="font-italic">Sobre</h4>
        <p class="mb-0">Sejaeterno.com - <em>em busca da salvação</em> oferece gratuitamente artigos para conhecimento da palavra de Deus, edificação espiritual, bem como livros e estudos, Sinta-se a vontade para fazer pedidos de orações para você e/ou para alguém </p>
      </div>

      <div class="p-4 fixed">
        <h4 class="font-italic text-white">Arquivos</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">Janeiro 2020</a></li>
          <li><a href="#">Fevereiro 2020</a></li>
          <li><a href="#">Março 2020</a></li>
          <li><a href="#">Abril 2020</a></li>
          <li><a href="#">Maio 2020</a></li>
          <li><a href="#">Junho 2020</a></li>
          <li><a href="#">Julho 2020</a></li>
          <li><a href="#">Agosto 2020</a></li>
          <li><a href="#">Setembro 2020</a></li>
          <li><a href="#">Outubro 2020</a></li>
          <li><a href="#">Novembro 2020</a></li>
          <li><a href="#">Dezembro 2020</a></li>
          </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic text-white">Sejaeterno.com nas Redes Sociais</h4>
        <ol class="list-unstyled">
          <li><a href="#">Telegram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
