 <nav class="navbar navbar-expand-lg navbar-light sticky-top navbar-dark bg-info">
    <a class="navbar-brand" routerLink="/">
              <img src="assets/img/logosejaeterno.png" width="230" height="90" class="d-inline-block align-top" alt="" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                  &#9776;
                </button>

                <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active"(click)="isMenuCollapsed = true">Página Inicial</a>
                </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="'/artigos'" routerLinkActive="active"(click)="isMenuCollapsed = true">Artigos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="'/videos'" routerLinkActive="active"(click)="isMenuCollapsed = true">Videos</a>
              </li>
              <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Estudos Bíblicos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="'/estudos'" (click)="isMenuCollapsed = true">Livros Bíblicos</a>
                  <a class="dropdown-item" [routerLink]="'/estudos'" (click)="isMenuCollapsed = true">Outros Estudos Bíblicos</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"  [routerLink]="'/estudos'" (click)="isMenuCollapsed = true">Estudos por Títulos ou temas</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/parceiros" routerLinkActive="active"(click)="isMenuCollapsed = true">Parceiros</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link"  routerLink="/sobre" routerLinkActive="active"(click)="isMenuCollapsed = true">Sobre Nós</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
            </form>
          </div>
          </nav>

<div class="container">
  <router-outlet></router-outlet>

</div>


