<section _ngcontent-obt-c21 style="margin-top: 110px;" id="home">
  <div class="card-deck">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/casamento.jpg?alt=media&token=82d7a7b3-f020-49d7-a3a3-b3a3448d1598" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Casamento</h5>
        <p class="card-text"> Para casais que buscam viver uma vida íntegra na presença de Deus. Obtenha a autoridade dada por Deus a voce.</p>
        <a href="#" class="btn btn-outline-primary">Saiba Mais</a>
      </div>
      </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/destino.jpg?alt=media&token=421bb11a-fdc3-4361-a310-7bd55453de7d" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/ora%C3%A7ao.jpg?alt=media&token=63910407-ad87-48f8-8353-8f4afed46272" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/casamento.jpg?alt=media&token=82d7a7b3-f020-49d7-a3a3-b3a3448d1598" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/destino.jpg?alt=media&token=421bb11a-fdc3-4361-a310-7bd55453de7d" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/orc.jpg?alt=media&token=6b7fc4c7-2712-41b9-9daa-e272a5b9b5f0" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-4">
            <div class="card">
              <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/casamento.jpg?alt=media&token=82d7a7b3-f020-49d7-a3a3-b3a3448d1598" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/casamento.jpg?alt=media&token=82d7a7b3-f020-49d7-a3a3-b3a3448d1598" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
  </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Science has not yet mastered prophecy
            </h2>
            <h3 class="post-subtitle">
              We predict too much for the next year and yet far too little for the next ten.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Failure is not an option
            </h2>
            <h3 class="post-subtitle">
              Many say exploration is part of our destiny, but it’s actually our duty to future generations.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on July 8, 2019</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

</section>
