<section _ngcontent-obt-c21 style="margin-top: 10px;" id="home">

  <h3>
    Seja Bem Vindo ao Site Seja Eterno!
    <small class="text-muted">Em Busca da Salvação</small>
  </h3>
  <div class="card-deck">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/imgfundo.jpg?alt=media&token=e371bf10-12bf-47d1-89ee-921d2980fc9d"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://firebasestorage.googleapis.com/v0/b/seja-eterno.appspot.com/o/tempo.jpeg?alt=media&token=9d84eff9-ff9d-4bc6-87ba-41135c6f4fe8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <br>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>


</section>

